<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>EliteZone xin chào.</p>
    <p>Bạn vừa yêu cầu cấp lại mật khấu vào hệ thống EliteZone. Sử dụng mã OTP
      bên dưới để đổi mật khẩu mới. Mã OTP chỉ có hiệu lực trong 1 phút.</p>
    <p> {{otp}}</p>
  </body>
</html>