<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>EliteZone xin chào,</p>
    <p>Bạn vừa yêu cầu đặt lại mật khẩu vào hệ thống EliteZone. Sử dụng mã OTP
      bên dưới để tiếp tục quá trình đổi mật khẩu mới. Mã OTP chỉ có hiệu lực
      trong 1 phút.</p>
    <p style="font-size:22px; font-weight:600"> {{otp}}</p>
    <p style="font-style: italic">Chý ý: Đây là email thông báo từ hệ thống, vui
      lòng không phản hồi email này.</p>
  </body>
</html>